# Data
factor_data.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Model Checkpoints
checkpoints/

# LaTeX build files
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
